.about-for-foodie-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#working-img {
    justify-self: end;
    position: relative;
    top: -50px;
}

#seisakutyu-text {
    justify-self: start;
    margin-left: 50px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    position: relative;
    top: -50px;
}