  #go-to-set-profile-btn {
    float: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background: #FBA99E;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  #go-to-set-profile-btn:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
  }

  #campaign-banner {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: #2CBD3E;
    position: relative;
    top: -5px;
    box-shadow: 0 2px 5px lightgrey;
    text-decoration: none;
    white-space: nowrap;
  }

  #campaign-banner:hover {
    text-decoration: none;
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  #start-campaign-btn {
    background-color: #f38577;
    color: white;
    margin: 5vh auto;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.3rem;
    font-family: monospace;
  }

  #start-campaign-btn:hover {
    text-decoration: none;
    opacity: 0.6;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btn-square-soft {
    display: inline-block;
    position: absolute;
    right: 10vw;
    width: 210px;
    height: 50px;
    color: white;
    font-size: 17px;
    line-height: 48px;
    /* 行間の広さ→もっと良いボタンのmiddleに位置させる方法があるはず */
    padding: 0;
    outline: none;
    border: none;
    border-radius: 50px;
    outline: none;
    text-align: center;
    font-weight: bold;
    background: #ffa76d;
  }

  .btn-square-soft:hover {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .btn-square-soft:focus {
    outline: none;
  }

  #feedback-btn {
    margin-left: 10px;
  }

  #feedback-btn:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  #feedback-img {
    width: 20px;
  }

  .btn-vegetarian {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    margin: 0 2.5px;
  }

  .btn-vegan {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: lightgrey;
    color: white;
    margin: 0 2.5px;
  }

  .btn-sort {
    position: relative;
    top: -2px;
    width: 35px;
    height: 35px;
    padding: 4px;
    margin-left: auto;
  }

  .btn-sort:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .btn-sort img {
    width: 25px;
    object-fit: contain;
  }

  .btn-sort img:hover {
    opacity: 0.8;
  }

  #plus-btn {
    position: fixed;
    right: 17px;
    bottom: 5vh;
    border: none;
    outline: none;
    background: none;
    outline: none;
  }

  #plus-btn:focus {
    outline: none;
  }

  #plus-btn-img {
    width: 40px;
    height: 40px;
  }

  #plus-btn:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .edit-profile-btn {
    position: relative;
    background: transparent;
    color: lightgray;
    margin: 10px 41vw;
    padding: 9px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-decoration: none;
    cursor: default;
  }

  .edit-profile-btn:hover {
    text-decoration: none;
    color: lightgray;
    cursor: default;
  }

  /* comment out until modification completed 
.edit-profile-btn {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 9px;
  position: relative;
  background: transparent;
  color: black;
  margin: 10px 41vw;
}


.edit-profile-btn:hover {
  text-decoration: none;
  color: black;
  background: lightgray;
  opacity: 0.6;
  transition-duration: 0.3s;
  cursor: pointer;
}
*/

  .mypage-btn:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
  }

  #mypage-btn-img {
    width: 1rem;
  }

  .following-button {
    background-color: #2CBD3E;
    color: white;
    font-size: 0.8rem;
    padding: 5px 15px;
    margin-left: 20px;
    position: relative;
    top: -7px;
  }

  .following-button:focus {
    outline: none;
    box-shadow: none;
    /* box-shadow: none がないと outline は消えない */
  }

  .follow-button {
    background-color: white;
    color: #2CBD3E;
    border-color: #2CBD3E;
    font-size: 0.8rem;
    padding: 5px 15px;
    margin-left: 20px;
    position: relative;
    top: -7px;
  }

  .follow-button:focus {
    outline: none;
    box-shadow: none;
  }

  #id-div-ajax-response-2 {
    /* フルサイズカードのfollow/followingボタンの共通要素 */
    position: initial;
    margin-top: 5px;
  }

  .like-btn {
    margin: 0 0 0 auto;
  }

  .like-btn:hover {
    cursor: pointer;
  }

  .LikesIcon-fa-heart {
    font-size: 15px;
    margin: 6px 0 10px 0;
  }

  .LikesIcon-fa-heart.heart {
    /* heartAnimationアニメーションを200ミリ秒かけて実行する */
    animation: heartAnimation .2s;
    /* アイコン色を黒から赤へ変更する */
    color: #e2264d;
  }

  /* --- ハートアニメーション --- */

  @keyframes heartAnimation {
    0% {
      /* アイコンサイズをもとのより小さくする */
      transform: scale(0.5);
    }

    10% {
      transform: scale(0.7);
    }

    30% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1.2);
    }

    80% {
      transform: scale(1.5);
    }

    100% {
      /* もとのサイズに戻す */
      transform: scale(1.0);
    }
  }

  #share-btn-on-card-header {
    margin: 0px 3vw 15px auto;
    font-size: large;
  }

  #share-btn-on-card-header:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }