  .btn-square-soft {
    display: inline-block;
    position: absolute;
    width: 210px;
    height: 50px;
    color: white;
    font-size: 17px;
    line-height: 48px; /* 行間の広さ→もっと良いボタンのmiddleに位置させる方法があるはず */
    padding: 0;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    background: #ffa76d;
  }

  .btn-square-soft:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .btn-square-soft:active { /* 押したとき */
    transform: translateY(2px); /* 沈むように */
    box-shadow: 0 0 1px rgba(5, 1, 1, 0.15);
    transition-duration: 0.3s;
  }

#plus-button {
    position: fixed;
    right: 3vw;
    bottom: 5vh;
    border: none;
    background: none;
}

#plus-button-img {
  width: 50px;
  height: 50px;
}

#plus-button:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
  cursor: pointer;
} 

#plus-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(5, 1, 1, 0.15);
  transition-duration: 0.3s;
}