/* モバイル */
@media only screen and (max-width:479px) {
    #card-infinite-container {
        column-count: 2;
        column-gap: 0.3em;
        width: 98%;
        margin: auto;
    }
    #card {
        display: inline-block;
        width: 100%;
        border-radius: 5px;
        margin: 3px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

/* デスクトップ */
@media screen and (min-width: 480px) and (max-width: 799px) {
    #card-infinite-container {
        column-count: 2;
        column-gap: 1em;
        width: 495px;
        margin: auto;
    }
    #card {
        display: inline-block;
        width: 240px;
        border-radius: 5px;
        margin: 8px 0;
        box-shadow: 0 1px 3px lightgrey;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    #card-infinite-container {
        column-count: 3;
        width: 750px;
        margin: auto;
    }
    #card {
        display: inline-block;
        width: 240px;
        border-radius: 5px;
        margin: 8px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

@media screen and (min-width: 1025px) and (max-width: 1286px) {
    #card-infinite-container {
        column-count: 4;
        width: 1004px;
        margin: auto;
    }
    #card {
        display: inline-block;
        width: 240px;
        border-radius: 5px;
        margin: 8px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

@media screen and (min-width:1287px) {
    #card-infinite-container {
        column-count: 5;
        width: 1264px;
        margin: auto;
    }
    #card {
        display: inline-block;
        width: 240px;
        border-radius: 5px;
        margin: 8px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

#card-img {
    width: 100%;
    min-height: 180px;
    max-height: 450px;
    object-fit: cover;
    border-radius: 2px;
}

#card-body p {
    margin: 0 5px 0 5px;
}

.modal-footer { /* モーダルのCSS */
    position: relative;
    top: 12px;
    width: 100%;
    max-height: 110px;
}

#first-p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1em;
    height: 2em;
    overflow: hidden;
    margin: 3%;
    color: black;
}

#first-p-link {
    text-decoration: none;
    color: black;
}

#second-p {
    margin-bottom: 0 !important;
}

#card-footer-person-img {
    border: black 1px solid;
    width: 15px;
    position: relative;
    left: 13px;
    top: -3px;
}

#dish-img {
    width: 30px;
    object-fit: cover;
    padding: 3px;
}

#copy-img {
    width: 15px;
    object-fit: cover;
}

#copy-button {
    float: right;
    background: none;
    border: none;
}

#copy-button:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
}