/* モバイル */
@media only screen and (max-width: 479px) {
    .card-detail-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #back-btn {
        border: none;
        background: white;
        position: relative;
        top: -6px;
        margin: 0 10px;
    }

    #card-detail-back-arrow-img {
        width: 15px;
        object-fit: contain;
    }

    #card-detail-profile-img {
        border: solid 2px;
        position: relative;
        top: -7px;
        margin: 0 5px;
    }

    #card-detail-username {
        margin-left: 5px;
    }

    #card-detail-img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .card-detail-footer {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #user-info-on-card-detail {
        display: none;
    }

    #back-btn-on-card-detail-footer {
        display: none;
    }

    #restaurant-memo {
        margin: 1vh 3vw;
        white-space: pre-wrap;
    }

    #location {
        border: solid 1px lightgray;
        border-radius: 5px;
        margin: 1vh 2vw;
        padding: 10px;
    }

    #restaurant-name-on-card-footer {
        margin-left: 5px;
        position: relative;
        top: 2px;
    }

    .comment-section-for-horizontal-card-detail {
        display: none;
    }

}

/* デスクトップ(~1036px) */
@media only screen and (min-width: 480px) and (max-width: 1036px) {
    #card-detail-container {
        width: 480px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px lightgray;
    }

    .card-detail-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 15px;
    }

    #back-btn {
        border: none;
        background: white;
        position: relative;
        top: -6px;
        margin: 0 10px;
    }

    #card-detail-back-arrow-img {
        width: 15px;
        object-fit: contain;
    }

    #card-detail-profile-img {
        border: solid 2px;
        position: relative;
        top: -7px;
        margin: 0 5px;
    }

    #card-detail-username {
        margin-left: 5px;
    }

    #card-detail-img {
        width: 480px;
        height: 600px;
        object-fit: cover;
    }

    #user-info-on-card-detail {
        display: none;
    }

    #back-btn-on-card-detail-footer {
        display: none;
    }

    .card-detail-footer {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #restaurant-memo {
        margin: 1vh 3vw;
        white-space: pre-wrap;
    }

    #location {
        border: solid 1px lightgray;
        border-radius: 5px;
        margin: 15px auto;
        width: 460px;
        padding: 10px;
    }

    #restaurant-name-on-card-footer {
        margin-left: 5px;
        position: relative;
        top: 2px;
    }

    .comment-section-for-horizontal-card-detail {
        display: none;
    }
}

/* デスクトップ(1037px~) */
@media only screen and (min-width: 1037px) {
    #card-detail-container {
        display: flex;
        flex-direction: row;
        width: 1017px;
        margin: 35px auto;
        box-shadow: 1px 1px 1px 1px lightgray;
        border-radius: 5px;
    }

    .card-detail-header {
        display: none;
    }

    #card-detail-back-arrow-img {
        width: 15px;
        object-fit: contain;
    }

    #card-detail-img {
        width: 600px;
        height: 600px;
        object-fit: cover;
        border-radius: 5px;
    }

    #back-btn-on-card-detail-footer {
        position: relative;
        left: -660px;
    }

    #user-info-on-card-detail {
        display: flex;
        margin: 30px 50px 0 50px
    }

    #card-detail-username {
        position: relative;
        top: 8px;
        left: 8px;
    }

    #restaurant-memo {
        margin: 10px 50px 0 50px;
        white-space: pre-line;
    }

    #location {
        width: 320px;
        margin: 15px 50px 15px 50px;
        padding: 8px;
        border: solid 1px lightgray;
        border-radius: 5px;
    }

    #restaurant-name-on-card-footer {
        margin-left: 5px;
        position: relative;
        top: 2px;
    }
}

<<<<<<< HEAD
.comment {
    margin: 20px 0px 20px 20px;
}

#comment-trigger-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#comment-profile-img {
    border: solid 2px;
    position: relative;
    top: -7px;
    margin: 0 5px;
}

#comment-btn {
    outline: none;
    border: solid 1px black;
    background-color: seashell;
    color: black;
    margin-left: auto;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    font-size: 0.8rem;
    position: relative;
    right: 20px;
}

#comment-btn:hover {
=======
    #restaurant-name-on-card-footer {
        margin-left: 5px;
    }

    .comment-section-for-vertical-card-detail {
        display: none;
    }

    .comment-section-for-horizontal-card-detail {
        width: 1017px;
        margin: auto;
    }
}

/* 共通 */
#comments {
    margin: 10px 0 0 15px;
}

#comment-btn-for-horizontal-card-detail {
    outline: none;
    border: none;
    background-color: whitesmoke;
    color: gray;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

#comment-btn-for-horizontal-card-detail:hover {
>>>>>>> 0c4f107... adjust layout for the new card/card-detail
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

<<<<<<< HEAD
.submit-comment-btn {
    position: relative;
    left: 10px;
    top: 2px;
    font-size: 0.8rem;
    background-color: seashell;
    border-radius: 50px;
    border: solid 1px black;
    padding: 5px 15px 5px 15px;

=======
#comment-btn-for-vertical-card-detail {
    outline: none;
    border: none;
    font-size: 0.8em;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background: whitesmoke;
    color: gray;
    margin: 8px 0 8px 10px;
}

#comment-btn-for-vertical-card-detail:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.submit-comment-btn {
    position: relative;
    left: 10px;
    top: 2px;
    font-size: 0.8rem;
    background-color: #FFA76C;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    padding: 10px 20px 10px 20px;
>>>>>>> 0c4f107... adjust layout for the new card/card-detail
}

.submit-comment-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.comment-date {
    font-size: 0.8em;
}

.commenter-username {
    font-size: 0.8em;
}

.comment-text {
    position: relative;
    top: 3px;
}