@media only screen and (max-width:479px) {
    #card-infinite-container {
        column-count: 2;
        column-gap: 0.3em;
        width: 98%;
        margin: auto;
    }
}

@media print, screen and (min-width: 480px) and (max-width:768px) {
    #card-infinite-container {
        column-count: 4;
        column-gap: 1em;
        width: 90%;
        margin: auto;
    }
}

@media print, screen and (min-width:769px) {
    #card-infinite-container {
        column-count: 5;
        column-gap: 1.5em;
        width: 90%;
        margin: auto;
    }
}

#card {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    margin: 5px 0px;
    box-shadow: 0 1px 3px lightgrey
}

#card-img {
    width: 100%;
    min-height: 180px;
    object-fit: cover;
    border-radius: 2px;
}

#card-body p {
    margin: 0 5px 0 5px;
}

.modal-footer { /* モーダルのCSS */
    position: relative;
    top: 12px;
    width: 100%;
    max-height: 110px;
}

#first-p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1em;
    height: 2em;
    overflow: hidden;
    margin: 3%;
    color: black;
}

#first-p-link {
    text-decoration: none;
    color: black;
}

#second-p {
    margin-bottom: 0 !important;
}

#card-footer-person-img {
    border: black 1px solid;
    width: 15px;
    position: relative;
    left: 13px;
    top: -3px;
}

#dish-img {
    width: 30px;
    object-fit: cover;
    padding: 3px;
}

#copy-img {
    width: 15px;
    object-fit: cover;
}

#copy-button {
    float: right;
    background: none;
    border: none;
}

#copy-button:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
    cursor: pointer;
}