#card {
    display: inline-block;
}

#card-infinite-container {
    margin: auto;
}

/* モバイル */
@media only screen and (max-width:479px) {
    #card-infinite-container {
        column-count: 2;
        column-gap: 0.3em;
        width: 98%;
    }

    #card {
        width: 100%;
        border-radius: 5px;
        margin: 3px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

/* デスクトップ */
@media screen and (min-width: 480px) and (max-width: 799px) {
    #card-infinite-container {
        column-count: 2;
        width: 495px;
    }

    #card {
        width: 240px;
        border-radius: 5px;
        margin: 8px 0;
        box-shadow: 0 1px 3px lightgrey;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    #card-infinite-container {
        column-count: 3;
        width: 750px;
    }

    #card {
        width: 240px;
        border-radius: 5px;
        margin: 8px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

@media screen and (min-width: 1025px) and (max-width: 1286px) {
    #card-infinite-container {
        column-count: 4;
        width: 1004px;
    }

    #card {
        width: 240px;
        border-radius: 5px;
        margin: 8px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

@media screen and (min-width:1287px) {
    #card-infinite-container {
        column-count: 5;
        width: 1264px;
    }

    #card {
        width: 240px;
        border-radius: 5px;
        margin: 8px 0px;
        box-shadow: 0 1px 3px lightgrey
    }
}

/* 共通 */
#card-img {
    width: 100%;
    min-height: 180px;
    max-height: 450px;
    object-fit: cover;
    border-radius: 2px;
}


#card-info {
    display: flex;
    flex-direction: row;
}


#card-body p {
    margin: 0 5px 0 5px;
}

.modal-footer {
    /* モーダルのCSS */
    position: relative;
    top: 12px;
    width: 100%;
    max-height: 110px;
}

#first-p {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
    margin: 5% 5% 5% 5%;
    color: black;
}

#first-p-link {
    text-decoration: none;
    color: black;
}

#card-info-profile-img-container {
    margin-left: 10px;
}

#card-footer-person-img {
    width: 20px;
    margin-bottom: 2px;
}

#card-footer-person-img-default {
    width: 13px;
    border: solid 1px black;
    margin: 0 3px;
}

#card-info-username {
    font-size: 0.8em;
    margin-top: 4px;
    margin-left: 5px;
}

#comment-img-link {
    display: none;
    /* 非表示 */
    margin: 0 10px 10px auto;
    text-decoration: none;
}

#comment-img {
    width: 15px;
}

#comment-number {
    text-decoration: none;
    margin-left: 5px;
    color: black;
    font-weight: 200;
}

#like-count {
    font-size: 0.8rem;
    margin: 4px 10px 0 0;
}