@media screen and (max-width: 479px) {
    .create-card-container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .input-content-container {
        display: flex;
        margin: 10px 20px;
    }
}

@media screen and (min-width: 480px) {
    .create-card-container {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: auto;
    }

    .input-content-container {
        display: flex;
        margin: 10px 3vw;
    }
}

#creator-profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#creator-profile-img-default {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 4px;
    border: solid 2px black;
}

#input-content {
    border: none !important;
    outline: none;
    width: 80%;
    float: right;
}

#id_restaurant_memo {
    outline: none;
    border: none;
}

#id_restaurant_memo:focus {
    outline: none;
    box-shadow: none;
}

#input-title {
    width: 90%;
    margin: auto;
}

#id_restaurant_name {
    outline: none;
}

#id_restaurant_name:focus {
    outline: none;
    box-shadow: none;
}

#create-page-footer {
    width: 95%;
    margin: auto;
}

#save-draft-btn {
    padding: 10px 25px;
    background: lightgray;
    border-radius: 50px;
    color: white;
    text-align: center;
    float: right;
    text-decoration: none;
}

#save-draft-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

#post-btn {
    padding: 10px 25px;
    background: #ffa76d;
    border-radius: 50px;
    color: white;
    text-align: center;
    margin: 0px 10px 10px 10px;
    float: right;
}

#close-btn-container {
    margin: 15px 0;
}

#removable-div {
    margin: 25px;
}

/* モーダル */
#post-modal-memo-container {
    display: flex;
    flex-direction: row;
    margin: 10px 15px;
}

#instant-post-modal-profile-img-container {
    display: flex;
    align-items: flex-start;
}

#instant-post-modal-profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#instant-post-modal-profile-img-default {
    width: 30px;
    margin-top: 4px;
    border: solid 2px black;
}