/* Up Font */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

/* Kosugi Maru Font*/
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

header {
  height: 60px;
}

@media screen and (max-width: 789px) {
  .header-group {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #header-left-side {
    display: grid;
    place-items: center start;
  }
  #header-right-side {
    display: grid;
    place-items: center end;
    background: white;
  }
}

@media screen and (min-width: 790px) {
  .header-group {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #header-left-side {
    display: grid;
    place-items: center start;
  }

  #header-right-side {
    display: grid;
    place-items: center end;
    background: #ffa76d;
  }
}

#project-name-on-header {
  margin-left: 3vw;
}

#project-name-on-header:focus {
  outline: none;
}

#header-right-btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 3vw;
}

#login-link-on-header{
  text-decoration: none;
}

#login-text-on-header{
  font-size: 13px;
  color: black;
  text-decoration: none;
}

#login-text-on-header:hover {
  cursor: pointer;
  opacity: 0.6;
}

