@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

#login-error-msg {
    display: flex;
    color: white;
    margin: 10px auto;
    font-weight: bold;
    width: 100%;
    background: tomato;
    padding: 15px;
    text-align: center;
    justify-content: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
}

#okaeri {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    align-self: center;
    margin: 5vh;
}

#login-btn {
    width: 100%;
    font-weight: bold;
}

#login-do-not-have-account {
    font-size: 0.9rem;
}