.modal-header .close {
    margin: -1rem -1rem -1rem 0;
}

.filelabel-modal {
    background-color: none;
    /* 背景色 */
    margin-left: 1vw;
}

.filelabel-modal img {
    position: relative;
    left: 15px;
    width: 20px;
    height: 20px;
}

.filelabel-modal:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.filelabel-page {
    background-color: none;
    /* 背景色 */
    margin-left: 1vw;
}

.filelabel-page:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.filelabel-page img {
    position: relative;
    left: 35px;
    width: 20px;
    height: 20px;
}

.clearablefileinput {
    position: relative;
    left: 12px;
    width: 0.5px;
    outline: none;
}

.clearablefileinput::-webkit-file-upload-button {
    visibility: hidden;
}

img[id^='close-'] {
    display: none;
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-bottom: 5px;
}

img[id^='close-']:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

#upload_image {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.post-button-on-modal {
    background-color: #ffa76d;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    border-radius: 30px;
}

.post-button-on-modal:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

#preview-each-media-container {
    width: 100px;
    height: 120px;
    margin: 5px;
}

/* ウェブ・レスポンシブる　*/
/* モバイル表示画像はば調整　*/