.filelabel {
    background-color: none;  /* 背景色 */   
    margin-left: 1vw;  
}
.filelabel img {
    position: absolute;
    top: -50px;
    right: 30px;
    width: 20px;
    height: 20px;
}
.filelabel:hover {  
    cursor: pointer;  
    opacity: 0.6;
    transition-duration: 0.3s;
}

#close-button {
    display:none;
    width: 32px;
    height: 26px;
    position:absolute;
    top: 4px;
    left: 2px;
    object-fit: contain;
}

#close-button:hover {
    cursor: pointer;  
    opacity: 0.6;
    transition-duration: 0.3s;
}

#upload_image {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.post-button-on-modal {
    background-color: #ffa76d;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 50px;
    text-align: center;
    border-radius: 30px;
}

.post-button-on-modal:hover {
    cursor: pointer;  
    opacity: 0.6;
    transition-duration: 0.3s;
}