/* モバイル */
@media screen and (max-width: 479px) {

    .profile-section {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 0 1vh 3vh 3vh;
    }

    #profile-photo {
        margin: 10px 25px 10px 10px;
    }

    .profile-textarea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        width: 60vw;
    }

    .profile-username {
        max-width: 150px;
        font-weight: bold;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

/* デスクトップ */
@media screen and (min-width: 480px) {

    .profile-section {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin-bottom: 5vh;
    }

    #profile-photo {
        margin: 10px 40px 10px 10px;
    }

    .profile-textarea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        width: 60vw;
    }

    .profile-username {
        max-width: 40vw;
        font-weight: bold;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

/* 共通 */

#profile-photo-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#profile-photo-img-default {
    width: 40px;
    height: 40px;
    border: solid 2px black;
}

.profile-username-row {
    display: flex;
}

#setting-btn {
    outline: none;
    color: black;
}

#setting-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

#profile-menu {
    position: relative;
    top: -1px;
    margin-left: 10px;
}

#profile-menu img {
    width: 25px;
}

#profile-menu:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

#bio {
    text-align: left;
    padding-right: 10px;
    font-size: 0.8rem;
}

.profile-statistics {
    display: flex;
    justify-content: space-evenly;
}

.follower-count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#follower-count {
    font-weight: bold;
}

.followee-count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#followee-count {
    font-weight: bold;
}

.post-count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#post-count {
    font-weight: bold;
}

.user-post-log {
    text-align: center;
}

.post-category {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-category-1 {
    border-bottom: solid 5px #2CBD3E;
}