/* モバイル */
@media screen and (max-width: 479px) {

    .profile-section {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 3vh 0 3vh 0;
    }

    #profile-photo {
        padding: 10px;
        margin-right: 15px;
    }

}

/* デスクトップ */
@media screen and (min-width: 480px) {

    .profile-section {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 3vh 0 5vh 0;
    }

    #profile-photo {
        padding: 10px;
        margin-right: 30px;
    }

}

/* 共通 */

#profile-photo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.profile-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.profile-section button {
    margin: 15px 0 0 0;
}

.profile-statistics {
    display: flex;
    justify-content: space-evenly;
}

.follower-count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#follower-count {
    font-weight: bold;
}

.followee-count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#followee-count {
    font-weight: bold;
}

.post-count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#post-count {
    font-weight: bold;
}

.user-post-log {
    text-align: center;
}

.post-category {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-category-1 {
    border-bottom: solid 5px #2CBD3E;
}