/*
.wrapper {
    display: flex;
}

#sidebar {
    width: 400px;
    height: 100%;
    position: fixed;
    top: -1;
    right: 0;
    background: #fff
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    /* どういう規則で分けてる？ 
    color: #fff;
    padding: 20px;
}
*/
