/*
* {border:  red 1px solid;  *で全クラス選択　ボーダー付けてはみ出し確認！
}
*/

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    justify-content: space-between; /* アイコンを右寄せ */
}

/*
header h5 {
    margin-left: 395px;
}
*/

.far fa-bell {
    margin-left: 7px;
    font-weight: bold;
    position: relative;
}

.filters {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;   
    margin-left: 5vw;
    margin-bottom: 23px;
}

#content {
    display: flex;
    flex: 1;
}

#center {
    flex: 1;
}

#left {
    width: 400px;
}

#right {
    width: 400px;
}

#top-page-container {
    margin: 0px 0px;
}

#infinite-link {
    width: 100%;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}