/*
* {border:  red 1px solid;  *で全クラス選択　ボーダー付けてはみ出し確認！
}
*/

/* Up Font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

video {
    outline: none;
    object-fit: cover;
}


/* モバイル */
@media screen and (max-width: 479px) {
    #post-modal-call-btn {
        background: #f0f2f5;
        border-radius: 50px;
        padding: 13px 20vw 13px 20px;
        color: #65676B;
        text-decoration: none;
    }
}

/* デスクトップ */
@media screen and (min-width: 480px) {
    #post-modal-call-btn {
        background: #f0f2f5;
        border-radius: 50px;
        padding: 13px 20vw 13px 20px;
        color: #65676B;
        margin: 0 10px;
        text-decoration: none;
    }
}

hr {
    color: #65676B;
}


.asteriskField {
    display: none;
}

#alert-message-container {
    margin-bottom: 55px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    justify-content: space-between;
    /* アイコンを右寄せ */
}

/*
header h5 {
    margin-left: 395px;
}
*/

#homepage-container {
    position: relative;
    top: -30px;
}

.filters {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5vw;
    margin-bottom: 23px;
}

/* Instant Post */

.instant-post-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    width: 98%;
}

#instant-post-profile-frame {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

#instant-post-profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#instant-post-profile-img-default {
    width: 30px;
    margin-top: 4px;
    border: solid 2px black;
}

#post-modal-call-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

/* 聖杯レイアウト */

#content {
    display: flex;
    flex: 1;
}

#center {
    flex: 1;
}

#left {
    width: 400px;
}

#right {
    width: 400px;
}

#infinite-link {
    width: 100%;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}