@media screen and (max-width:479px) {
    #update-profile-form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70vw;
    }
}

@media screen and (min-width:480px) {
    #update-profile-form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50vw;
    }
}

#update-profile-img {
    margin-bottom: 1.5rem;
}

#return-btn {
    margin-top: 10px;
    background: lightgray;
    color: white;
    text-align: center;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#return-btn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #C3C3C3;
}