container_commands:
  00_update:
    command: 'pip install --upgrade pip'
    leader_only: true
  01_migrate:
    command: 'python manage.py migrate'
    leader_only: true
  02_collectstatic:
    command: 'python manage.py collectstatic --noinput'
  03_create_dir:
    command: mkdir -p /var/log/app-logs
  04_change_permissions:
    command: chmod g+s /var/log/app-logs
  05_change_owner:
    command: chown wsgi:wsgi /var/log/app-logs

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: 'config.settings.production'
    PYTHONPATH: '$PYTHONPATH'
  aws:elasticbeanstalk:container:python:
    StaticFiles: '/static/=www/static/'
    WSGIPath: 'config/wsgi.py'