container_commands:
  00_update:
    command: 'pip install --upgrade pip'
    leader_only: true
  01_migrate:
    command: 'python manage.py migrate'
    leader_only: true
  02_collectstatic:
    command: 'python manage.py collectstatic --noinput'

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: 'config.settings.production'
    PYTHONPATH: '$PYTHONPATH'
  aws:elasticbeanstalk:container:python:
    StaticFiles: '/static/=up/static/'
    WSGIPath: 'config/wsgi.py'