{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="POST" class="form-group">
    {% csrf_token %}
    <div class="form-row" style="margin: 10% 10%">
        <div class="form-group col-md-6 mb-0">
          {{ form.username|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.password|as_crispy_field }}
        </div>
      </div>
    <button type="submit" class="btn btn-success" style="margin: 0% 10%">Join</button>
    <div class="form-row" style="margin: 10% 10%">
        <a href="#">Don't have an account? Sign up here</a>
    </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}