{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="profile-section">
    <a href="#"><img class="rounded-circle account-img" src="{% static 'images/icons/person.svg' %}"></a>
    <h2 class="account-heading">{{ user.username }}</h2>
    <!-- disabled until modification completed -->
    <a class="edit-profile-btn" href="#">編集</a>
    <!-- FORM HERE -->
</div>
<div class="divider"></div>
<div class="past-post">
    {% for post in user_posts %}
    <div class="row row-cols-2" style="margin: 3vh;">
        <div class="col infinite-item">
            {% if post.image %}
            <div id="image">
                <img src="{{ post.image.url }}" style="width: 200px; height:200px; object-fit:cover;">
            </div>
            {% else %}
            <div id="image">
                <img src="../../media/images/restaurant_posts/if-photo-is-nil.jpg" style="width: 200px; height:200px">
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}