{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <a href="{% url 'update_profile' %}">Update Profile</a>
            </div>
        </div>
    <!-- FORM HERE -->
     </div>
     {% for post in user_posts %}
        <div class="row" style="margin: 10px 0">
            <div class="col-4">
            <div class="col-md-4 infinite-item">
                <p>{{  post.restaurant_name }}</p>
                {% if post.image %}
                    <div id="image">
                        <img src="/media/{{ post.image }}" style="width:100%; height:300px; object-fit:cover;">
                    </div>
                {% else %}
                    <div id="image">
                        <img src="/media/images/108059.jpg" style="width:100%;height:300px">
                    </div>
                {% endif %}
            </div>
        </div>
     {% endfor %}

{% endblock %}
