{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="profile-section">
    <a id="profile-photo" href="#"><img class="rounded-circle account-img"
            src="{% static 'images/icons/person.svg' %}"></a>
    <div class="profile-textarea">
        <h2 class="profile-username">{{ user.username }}</h2>
        <p id="profile-content">Hello, I'm from Shanghai!</p>
    </div>
    <!-- disabled until modification completed
    <a class="edit-profile-btn" href="#">編集</a>
     -->
    <!-- FORM HERE -->
</div>

<div class="profile-statistics">
    <div class="follower-count-section">
        <p>フォロワー</p>
        <p id="follower-count">xx</p>
    </div>
    <div class="followee-count-section">
        <p>フォロー中</p>
        <p id="followee-count">xx</p>
    </div>
    <div class="post-count-section">
        <p>閲覧数</p>
        <p id="post-count">xx</p>
    </div>
</div>

<div class="user-post-log">
    <div class="post-category">
        <p id="post-category-1">投稿</p>
    </div>
    {% for post in user_posts %}
    <div class="row row-cols-2" style="margin: 3vh;">
        <div class="col infinite-item">
            {% if post.image %}
            <div id="image">
                <img src="{{ post.image.url }}" style="width: 200px; height:200px; object-fit:cover;">
            </div>
            {% else %}
            <div id="image">
                <img src="{% static '/images/icons/gray.jpg' %}" style="width: 200px; height:200px">
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}