{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account {% endblock %}

{% block content %}
<div class="signup-content">
    <div class="mission-statement">
        <h1>
            We offer the community for those who love cooking.<br>
        </h1>
        <p>
            「アップ」は、 みなさんの自炊生活を記録・共有するためのサービスです。<br>あなたの心のこもった手料理を周りとシェアして、みんなで日々料理することをもっと楽しもう！
        </p>
    </div>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-row" style="margin: 0% 10%">
            <div class="form-group col-md-6 mb-0">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <div class="form-row" style="margin: 0% 10%">
            <div class="form-group col-md-6 mb-0">
                {{ form.password|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="margin: 0% 10%">Join</button>
        <div class="form-row" style="margin: 10% 10%">
            <a href="{% url 'login' %}">Already have an account? Login here</a>
        </div>
    </form>
</div>
{% endblock %}