{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account {% endblock %}

{% block content %}
<div class="signup-content">
    <div class="mission-statement">
        <h1>We offer the community for foodies.</h1>
        <p>「アップ」は、 みなさんが日々の食生活を記録・共有するためのサービスです。<br>気になるあの人が何を食べてるか覗いてみたり、友人や家族とシェアしたり、<br>みんなでフード・ライフをもっと楽しもう！</p>
    </div>
    <form id="register-form" method="POST" class="form-group">
        {% csrf_token %}
        <div id="register-username" class="form-group">
            {{ form.username|as_crispy_field }}
        </div>

        <div id="register-email" class="form-group">
            {{ form.email|as_crispy_field }}
        </div>

        <div id="register-password" class="form-group">
            {{ form.password|as_crispy_field }}
        </div>

        <button id="register-btn" type="submit" class="btn btn-success">登録する</button>

        <div id="register-already-have-account" class="form-group">
            <a href="{% url 'login' %}">もう既にアカウントをお持ちですか？</a>
        </div>
    </form>
</div>
{% endblock %}