{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account {% endblock %}

{% block content %}
<form method="POST" id="update-profile-form" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}

    <p>プロフィール画像</p>

    <div id="update-profile-img" class="form-group">
        <input type="file" name="image" accept="image/*" id="id_image">
    </div>

    <div id="update-username" class="form-group">
        {{ form.username|as_crispy_field }}
    </div>

    <div id="update-email" class="form-group">
        {{ form.email|as_crispy_field }}
    </div>

    <div id="update-bio" class="form-group">
        {{ form.bio|as_crispy_field }}
    </div>

    <button type="submit" class="btn btn-success" style="font-weight: bold;">プロフィールを更新する</button>
    <a href="{% url 'profile' %}" id="return-btn">戻る</a>
</form>
{% endblock %}