{% extends "app/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="profile-section">
    {% if portfolio_owner.image %}
    <div id="profile-photo"><img id="profile-photo-img" class="rounded-circle account-img"
            src="{{ portfolio_owner.image.url }}">
    </div>
    {% else %}
    <div id="profile-photo"><img id="profile-photo-img-default" class="rounded-circle account-img"
            src="{% static 'images/icons/person.svg' %}"></div>
    {% endif %}
    <div class="profile-textarea">
        <div class="profile-username-row">
            <h5 class="profile-username">{{ portfolio_owner.username }}</h5>
        </div>
        {% if portfolio_owner.bio %}
        <p id="bio">{{ portfolio_owner.bio }}</p>
        {% else %}
        <p id="bio">このユーザーはまだ自己紹介を書いてないよ〜</p>
        {% endif %}
    </div>
</div>

<div class="profile-statistics">
    <div class="follower-count-section">
        <p>フォロワー</p>
        <p id="follower-count">{{ followers_cnt }}</p>
    </div>
    <div class="followee-count-section">
        <p>フォロー中</p>
        <p id="followee-count">{{ followees_cnt }}</p>
    </div>
    <div class="post-count-section">
        <p>投稿数</p>
        <p id="post-count">{{ posts_cnt }}</p>
    </div>
</div>

<div class="user-post-log">
    <div class="post-category">
        <p id="post-category-1">投稿</p>
    </div>
    <div id="my-posts-container">
        {% for post in img_obj_lis %}
        <div>
            <div class="infinite-item">
                {% if post.is_video %}
                <div id="my-each-post">
                    {% if post.img.item_id %}
                    <a href="{% url 'card_detail' post.img.item_id %}">
                        <video width="240" height="240" controls muted playsinline>
                            <source src="{{ post.img.image.url }}" type="video/mp4">
                        </video>
                    </a>
                    {% endif %}
                </div>
                {% else %}
                <div id="my-each-post">
                    {% if post.img.item_id %}
                    <a href="{% url 'card_detail' post.img.item_id %}">
                        <img src="{{ post.img.image.url }}">
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}