{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
    <!-- prefix is for OGP -->

    <!-- OGP Declaration -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogp/up-img.png' %}" />
    <meta property="og:title" content="Up" />
    <meta property="og:site_name" content="Up" />
    <meta property="og:description" content="「アップ」は、 みなさんが日々の食生活を記録・共有するためのサービスです。
        気になるあの人が何を食べてるか覗いてみたり、友人や家族とシェアしたり、
        みんなでフード・ライフをもっと楽しもう！" />
    <meta property="og:url" content="http://www.uplife.link/" />
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/icons/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/icons/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/icons/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/icons/favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "images/icons/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <!-- Title -->
    <title>Up</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    <!-- CSS Files -->
    <link href="{% static "app/css/style_main.css" %}" rel="stylesheet">
    <link href="{% static "app/css/card.css" %}" rel="stylesheet">
    <link href="{% static "app/css/card_detail.css" %}" rel="stylesheet">
    <link href="{% static "app/css/button.css" %}" rel="stylesheet">
    <link href="{% static "app/css/photo_upload.css" %}" rel="stylesheet">
    <link href="{% static "app/css/profile.css" %}" rel="stylesheet">
    <link href="{% static "app/css/login.css" %}" rel="stylesheet">
    <link href="{% static "app/css/register.css" %}" rel="stylesheet">
    <link href="{% static "app/css/campaign.css" %}" rel="stylesheet">
    <link href="{% static "app/css/update_profile.css" %}" rel="stylesheet">
    <link href="{% static "app/css/create_card.css" %}" rel="stylesheet">
    <!-- Fontawesome (fonts and Icons) -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <!-- css add justify-content: space-between; -->
    <header class="header d-flex flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'index' %}"
                style="font-family: 'Righteous', cursive; text-decoration: none; color: black;">Up</a></h5>

        <nav class="my-2 my-md-0 mr-md-3">
            {% if user.is_authenticated %}
            {% if show_profile_icon %}

            <a class="mypage-btn" href="{% url 'profile' %}"><img id="mypage-btn-img" class="rounded-circle account-img"
                    src="{% static 'images/icons/person.svg' %}" alt="person-icon"></a>

            {% endif %}

            <a target="_blank" id="feedback-btn"
                href="https://docs.google.com/forms/d/e/1FAIpQLSeWFaXBtDHuyPljR8jLjVLOowi1FdbpN64n7iEoARf2ThF8rg/viewform?usp=sf_link"><img
                    id="feedback-img" src="{% static 'images/icons/feedback-mono.png' %}" alt="feedback-img"></a>

            {% else %}

            <a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'login' %}">ログイン</a>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'register' %}">無料登録</a>

            {% endif %}
        </nav>
    </header>

    <!-- content-->
    <div id="content">
        {% if show_left %}
        <nav id="left">
        </nav>
        {% endif %}

        <main id="center" style="width: 100%;">
            {% if messages %}
            {% for message in messages %}
            <div id="alert-message-container">
                <div class="alert alert-{{ message.tags}}">
                    {{ message }}
                </div>
                <!-- 振り分けができる様になったら...
                <a href="{% url 'update_profile' %}"><button id="go-to-set-profile-btn">続けてプロフィールを入力する →</button></a> -->
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        {% if show_right %}
        <aside id="right">
            {% if show_postbutton %}
            <div>
                <ul class="list-unstyled components" style="margin-left: 25px; margin-top: 25px;">
                    <li id="post_button">
                        {% if user.is_authenticated %}
                        <button class="btn-square-soft" data-toggle="modal" data-target="#post-modal">アップする</button>
                        {% else %}
                        <a class="btn-square-soft" href="{% url 'login' %}">アップする</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endif %}
        </aside>
        {% endif %}
    </div>

    <!-- plus-button-->
    {% if show_plus_button %}
    {% if user.is_authenticated %}
    <a id="plus-btn" href="{% url 'create' %}"><img id="plus-btn-img" src="{% static 'images/icons/plus-button.png' %}"
            alt="plus-btn-img"></a>
    {% else %}
    <a id="plus-btn" href="{% url 'login' %}"><img id="plus-btn-img" src="{% static 'images/icons/plus-button.png' %}"
            alt="plus-btn-img"></a>
    {% endif %}
    {% endif %}

    <footer></footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static '/app/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static '/app/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'app/js/infinite.min.js' %}"></script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n, m) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;

            try {
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            } catch (error) {
                return;
            }
        }

        /* クリップボードにコピー */
        function copyToClipboard(id) {
            var from = document.getElementById(id);
            var range = document.createRange();
            window.getSelection().removeAllRanges();
            range.selectNode(from);
            window.getSelection().addRange(range);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            var copyBtn = document.getElementById('share-btn-on-card-header');
            copyBtn.style.display = "none"
            var copiedMsg = document.getElementById('copied-msg');
            copiedMsg.style.display = "block"

            function showCopyBtnAgain() {
                copyBtn.style.display = "block";
            }

            function eraseCopiedMsg() {
                copiedMsg.style.display = "none";
            }

            function restore() {
                showCopyBtnAgain();
                eraseCopiedMsg();
            }

            window.setTimeout(restore, 3000)
        }

        $('#myform input[type=file]').on('change invalid', function () {
            var textfield = $(this).get(0);

            // 'setCustomValidity not only sets the message, but also marks
            // the field as invalid. In order to see whether the field really is
            // invalid, we have to remove the message first
            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('画像を添付してね');
            }
        });

        $('#login-form input').on('change invalid', function () {
            var textfield = $(this).get(0);

            // 'setCustomValidity not only sets the message, but also marks
            // the field as invalid. In order to see whether the field really is
            // invalid, we have to remove the message first
            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('こちらの項目は必須です');
            }
        });

        $('#register-form input').on('change invalid', function () {
            var textfield = $(this).get(0);

            // 'setCustomValidity not only sets the message, but also marks
            // the field as invalid. In order to see whether the field really is
            // invalid, we have to remove the message first
            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('こちらの項目は必須です');
            }
        });

        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {},
            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
                $('.spinner-border').hide();
            }
        });

        $(function () {

            // 入力フォームでリターンキー押下時の送信を無効化
            // ※フィールド１個の時は無効
            $('#myform').on('sumbit', function (e) {
                e.preventDefault();
            })

            $('#post_restaurant_image').after('<span></span>');

            // アップロードするファイルを選択
            $('#post_restaurant_image').change(function () {
                var files = $(this).prop('files');
                for (var i = 0; i < files.length; i++) {
                    // 画像以外は処理を停止
                    file = files[i];
                    if (!file.type.match('image.*') & !file.type.match('video.*')) {
                        // クリア
                        $(this).val('');
                        $('#image_preview_span').html('');
                        return;
                    }
                }
                var portfolioImageGroup = $('#removable-div');
                console.log("file length00");
                console.log(files.length);
                for (var i = 0; i < files.length; i++) {
                    file = files[i];
                    // 画像表示
                    var file_info = file;
                    var reader = new FileReader();
                    var image_preview_id = '#image_preview_span-' + String(i);
                    var img_cls = "responsive-img-" + String(i);
                    var button_id = "close-" + String(i);
                    reader.image_preview_id = image_preview_id;
                    reader.width = 100;
                    reader.height = 100;
                    reader.img_cls = img_cls;
                    reader.button_id = button_id;
                    if (file.type.match('image.*')) {
                        reader.onload = function (e) {
                            portfolioImageGroup.append(`
                            <div id="each-preview-container">
                                <img id="${this.button_id}" src="{% static '/images/icons/close-button.png' %}"
                                    alt="close-button" style="display: block;" class="clear-button-cls">
                                <img class="${this.img_cls}" src="${e.target.result}" style="width:${this.width}px; height:${this.height}px; object-fit:cover">
                            </div>
                                `)
                        }
                    } else if (file.type.match('video.*')) {
                        reader.onload = function (e) {
                            portfolioImageGroup.append(`
                            <div id="each-preview-container">
                                <img id="${this.button_id}" src="{% static '/images/icons/close-button.png' %}"
                                    alt="close-button" style="display: block;" class="clear-button-cls">
                                <video class="${this.img_cls}" style="width:${this.width}px; height:${this.height}px; vertical-align:middle;" controls>
                                    <source src="${e.target.result}" type="video/mp4">
                                </video>
                            </div>
                            `)
                        }
                    }
                    reader.readAsDataURL(file);
                }
            });

            $(document).on("click", '.clear-button-cls', function () {
                id_split_lis = this.id.split("-");
                id_num = id_split_lis[id_split_lis.length - 1];
                cls_string = '.responsive-img-' + String(id_num);
                $(cls_string).remove();
                $('input[type="file"]').val(null);
                $(this).hide();
                return;
            })


            $(".ajax-like-form-cls").submit(function (event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                        url: form.prop("action"),
                        method: form.prop("method"),
                        data: form.serialize(),
                        timeout: 10000,
                        dataType: "text",
                    })
                    .done(function (data) {
                        json_data = JSON.parse(data);
                        selec_id = "#id-number-of-like-" + json_data.item_id;
                        $(selec_id).text(json_data["number_of_likes"]);
                    })
            });



            $("#ajax-follow-form").submit(function (event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                        url: form.prop("action"),
                        method: form.prop("method"),
                        data: form.serialize(),
                        timeout: 10000,
                        dataType: "text",
                    })
                    .done(function (data) {
                        $("#id-div-ajax-response").prop('value', data);
                        $("#id-div-ajax-response-2").prop('value', data);
                        if (data == "フォロー") {
                            $("#follow-boolean").prop("value", "1");
                            $("#follow-boolean-2").prop("value", "1");
                            $("#id-div-ajax-response").removeClass("following-button");
                            $("#id-div-ajax-response").addClass("follow-button");
                            $("#id-div-ajax-response-2").removeClass("following-button");
                            $("#id-div-ajax-response-2").addClass("follow-button");
                        } else {
                            $("#follow-boolean").prop("value", "0");
                            $("#follow-boolean-2").prop("value", "0");
                            $("#id-div-ajax-response").addClass("following-button");
                            $("#id-div-ajax-response").removeClass("follow-button");
                            $("#id-div-ajax-response-2").addClass("following-button");
                            $("#id-div-ajax-response-2").removeClass("follow-button");
                        }
                    })
            });

            $("#ajax-follow-form-2").submit(function (event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                        url: form.prop("action"),
                        method: form.prop("method"),
                        data: form.serialize(),
                        timeout: 10000,
                        dataType: "text",
                    })
                    .done(function (data) {
                        $("#id-div-ajax-response").prop('value', data);
                        $("#id-div-ajax-response-2").prop('value', data);
                        if (data == "フォロー") {
                            $("#follow-boolean").prop("value", "1");
                            $("#follow-boolean-2").prop("value", "1");
                            $("#id-div-ajax-response").removeClass("following-button");
                            $("#id-div-ajax-response").addClass("follow-button");
                            $("#id-div-ajax-response-2").removeClass("following-button");
                            $("#id-div-ajax-response-2").addClass("follow-button");
                        } else {
                            $("#follow-boolean").prop("value", "0");
                            $("#follow-boolean-2").prop("value", "0");
                            $("#id-div-ajax-response").addClass("following-button");
                            $("#id-div-ajax-response").removeClass("follow-button");
                            $("#id-div-ajax-response-2").addClass("following-button");
                            $("#id-div-ajax-response-2").removeClass("follow-button");
                        }
                    })
            });

        })
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
        charset="UTF-8"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ja.min.js">
    </script>
    <script src="{% static 'app/js/app.js' %}"></script>
    <script src="{% static 'app/js/infinite.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.waypoints.min.js' %}"></script>

</body>

</html>