{% extends "./_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Modal -->

<div class="modal" id="card-detail-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: none;">
            <div class="modal-header" style="border: none;">
                <a href="{% url 'update' item.pk %}" class="btn btn-logout">
                    <p style="margin-bottom: 0;">編集</p>
                </a>
            </div>
            <div class="modal-header" style="border: none;">
                <a href="{% url 'delete' item.pk %}" class="btn btn-logout">
                    <p style="margin-bottom: 0;">削除</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paypalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">応援する</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="paypal-button-container"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
        </div>
      </div>
    </div>
  </div>

<div id="card-detail-container">

    <div class="card-detail-header">
        <a id="back-btn" href="{% url 'index' %}"><img id="card-detail-back-arrow-img"
                src="{% static '/images/icons/back-arrow.png' %}" alt="back-arrow"></a>
        <a href="{% url 'user_portfolio' item.created_by.id %}">
        {% if item.created_by.image %}
        <img src="{{ item.created_by.image.url }}" id="card-detail-profile-img" class="rounded-circle account-img"
            alt="person-img">
        {% else %}
        <img src="{% static 'images/icons/person.svg' %}" id="card-detail-profile-img-default-v"
            class="rounded-circle account-img" alt="person-img">
        {% endif %}
        </a>
        <a href="{% url 'user_portfolio' item.created_by.id %}" style="color: black; text-decoration: none; margin-right: 2px;">
        <p id="card-detail-username">{{ item.created_by }}</p>
        </a>

        <button id="support-btn-on-vertical-card" data-toggle="modal" data-target="#paypalModal">
            <img src="{% static 'images/icons/yen-mark.png' %}" alt="yen-mark" width="20">
            <p style="margin: 0; margin-left: 10px;">著者を応援する</p>
        </button>

        <div class="share-btn-container">
            <button id="share-btn" onclick="copyToClipboard('absolute-uri')"><i
                    class="far fa-share-square"></i></button>
            <p id="absolute-uri" onclick="copyElementText(this.id)">
                {{ request.build_absolute_uri }}
            </p>
            <p id="copied-msg">copied!</p>
        </div>
        {% if is_own_post %}
        <a id="card-detail-setting-btn" data-toggle="modal" data-target="#card-detail-modal">
            <img src="{% static 'images/icons/dot-menu.png' %}">
        </a>
        {% endif %}

    </div>

    <div id="card-detail-img-container">
        {% for image in images %}
        <div class="mySlides">
            {% if image.is_video %}
            <video id="card-detail-video" controls autoplay muted playsinline>
                <source src="{{ image.image.url }}" type="video/mp4">
            </video>

                {% if is_multiple_photos %}
                    <div class="numbertext"><span id="numbertext-span">{{ forloop.counter }} / {{ images_cnt }}</span></div>
                {% endif %}

            {% else %}

            <img class="demo" id="card-detail-img" src="{{ image.image.url }}">

                {% if is_multiple_photos %}
                        <div class="numbertext"><span id="numbertext-span">{{ forloop.counter }}/{{ images_cnt }}</span></div>
                {% endif %}

            {% endif %}
        </div>
        {% endfor %}
        <!-- Next and previous buttons -->
        {% if is_multiple_photos %}
        <a class="prev rounded-circle account-img" onclick="plusSlides(-1)"><img id="arrow-left"
                src="{% static '/images/icons/arrow-left.png' %}" alt="arrow-left"></a>
        <a class="next rounded-circle account-img" onclick="plusSlides(1)"><img id="arrow-right"
                src="{% static '/images/icons/arrow-right.png' %}" alt="arrow-right"></a>
        {% endif %}
    </div>

    <div class="card-detail-footer">
        <a id="back-btn-on-card-detail-footer" href="{% url 'index' %}"><img id="card-detail-back-arrow-img"
                src="{% static '/images/icons/back-arrow.png' %}" alt="back-arrow"></a>
        <div id="user-info-on-card-detail">
            <a href="{% url 'user_portfolio' item.created_by.id %}">
            {% if item.created_by.image %}
            <div id="card-detail-profile-img-container">
                <img src="{{ item.created_by.image.url }}" id="card-detail-profile-img"
                    class="rounded-circle account-img" alt="person-img">
            </div>
            {% else %}
            <div id="card-detail-profile-img-default-h-container">
                <img src="{% static 'images/icons/person.svg' %}" id="card-detail-profile-img-default-h"
                    class="rounded-circle account-img" alt="person-img">
            </div>
            {% endif %}
            </a>
            <a href="{% url 'user_portfolio' item.created_by.id %}" style="color: black; text-decoration: none; margin-right: 2px;">
            <p id="card-detail-username">{{ item.created_by }}</p>
            </a>
            
            <button id="support-btn-on-horizontal-card" data-toggle="modal" data-target="#paypalModal">
                <img src="{% static 'images/icons/yen-mark.png' %}" alt="yen-mark" width="20">
                <p style="margin: 0; margin-left: 10px;">著者を応援する</p>
            </button>

            <div class="share-btn-container-on-wide-card">
                <button id="share-btn-on-wide-card" onclick="copyToClipboardOnWideCard('absolute-uri-on-wide-card')"><i
                        class="far fa-share-square"></i></button>
                <p id="absolute-uri-on-wide-card" onclick="copyElementText(this.id)">
                    {{ request.build_absolute_uri }}
                </p>
                <p id="copied-msg-on-wide-card">copied!</p>
            </div>
            {% if is_own_post %}
            <a id="card-detail-setting-btn-on-wide-card" data-toggle="modal" data-target="#card-detail-modal">
                <img src="{% static 'images/icons/dot-menu.png' %}">
            </a>
            {% endif %}

        </div>

        <p id="restaurant-memo">{{ item.restaurant_memo|default_if_none:"未記入" }}</p>

        <!-- コメント -->
        <div class="card-sized-comment-section">

            <div class="comments">

                <hr>

                <!-- コメントボタン -->
                {% if user.is_authenticated %}
                <div class="comment-input-row">
                    {% if user.image %}
                    <img id="commenter-profile-img" class="rounded-circle account-img" src="{{ user.image.url }}"
                        alt="person-icon">
                    {% else %}
                    <img id="commenter-profile-img-default" class="rounded-circle account-img"
                        style="width: 25px; border: solid 2px black;" src="{% static 'images/icons/person.svg' %}"
                        alt="person-icon"></a>
                    {% endif %}
                    <button id="comment-btn" data-toggle="modal" data-target="#comment-modal">コメントする...</button>
                </div>
                {% else %}
                <div class="comment-input-row">
                    <img id="commenter-profile-img-default" class="rounded-circle account-img"
                        style="width: 25px; border: solid 2px black;" src="{% static 'images/icons/person.svg' %}"
                        alt="person-icon"></a>
                    <a id="post-modal-call-btn" href="{% url 'login' %}">
                        <span style="white-space: nowrap;">コメントする</span>
                    </a>
                </div>
                {% endif %}
                {% if item.comments.count == 0 %}
                <p id="comment-none-text">コメントはありません</p>
                {% else %}
                <p id="comment-count-text">コメント{{ item.comments.count }}件</p>
                {% endif %}

                {% for comment in comments %}
                <div class="comment-date">{{ comment.commented_date }}</div>
                <strong class="commenter-username">{{ comment.author }}</strong>
                <p class="comment-text">{{ comment.comment_text }}</p>
                {% empty %}
                {% endfor %}

            </div>

        </div>

    </div>

</div>

<div class="full-sized-comment-section">

    <!-- コメントボタン -->
    <div id="full-sized-comment-btn-container">
        <button id="full-sized-comment-btn" data-toggle="modal" data-target="#comment-modal">コメントする...</button>
    </div>
    <div class="full-sized-comments">
        {% for comment in comments %}
        <div class="comment-date">{{ comment.commented_date }}</div>
        <strong class="commenter-username">{{ comment.author }}</strong>
        <p class="comment-text">{{ comment.comment_text }}</p>
        {% empty %}
        {% endfor %}
    </div>

</div>

<!-- コメント投稿モーダル -->
{{ form.certifications.errors }}
<div class="modal" id="comment-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 100%; overflow-y: auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="comment-forms" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <!-- テキストフィールド -->
                    {{ comment_form.comment_text|as_crispy_field }}
                    <input type="hidden" name="item_id" size="18" maxlength="20" value="{{item.id}}">

                    <div class="modal-footer">
                        <input type="submit" name="test1" value="送信する" class="submit-comment-btn">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}