{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Title -->
    <title>Up</title>
    <!-- CSS Files -->
    <link href="{% static "app/css/gate.css" %}" rel="stylesheet">
</head>

<body class="gate-page-container">
    
        <div class="wrapper">
            <h2 id="title-for-gate">東京ユースの<span id="mitsuna-text">密な</span>フード・クラブ</h2>
            <div class="content-wrapper">
                <div id="eye-catch">
                    <div style="position: relative; top: -10px;">
                    <h1 id="are-you-foodie">Are you foodie?</h1>
                    <h1 id="are-you-creator">Are you creator?</h1>
                </div>
                    <div class="card">
                        <img id="lock-img" src="{% static 'images/icons/icons8-lock.svg' %}" alt="lock-icon">
                        <input type="text" id="secret-key-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>