{% extends "./_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- 新規投稿モーダル -->
{{ form.certifications.errors }}
<div class="modal" id="post-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px; height: 500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="myform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-md-6 mb-0">
                        {{ form.restaurant_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        <label>
                            <span class="filelabel" title="ファイルを選択">
                                {% load static %}
                                <img src="{% static '/images/icons/photo-upload.jpg' %}" width="32" height="26"
                                    alt="photo-upload">
                            </span>
                            <input type="file" name="image" accept="image/*" class="clearablefileinput"
                                id="post_restaurant_image" style="display:none" value="">
                            <div style="position:relative" id="removable-div">
                                <span id="image_preview_span"></span>
                                <div>
                                    <img src="../static/images/icons/cancel-cross.png" width="32" height="26"
                                        id="cancel-cross" style="display:none; position:absolute; top: 0; left: 0;">
                                </div>
                            </div>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">下書き保存</button>
                <button class="btn btn-outline-dark save" id="save">保存</button>
            </div>

        </div>
    </div>
</div>
<!-- 絞り込みモーダル 
    <div class="top-page-container" id="top-page-container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">絞り込み条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">絞り込む</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <a class="btn btn-outline-dark" style="visibility:hidden" href="/">絞り込みを解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#"><img src="/media/images/sort-ascending-2x.png" alt="sort-ascending-8x" width="20px" height="20px"></a>
                </div>
            </div>
        </div>
    -->
<!--
            <ul class="navbar-nav float-right mt-3">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <p>Welcome {{ user.username }}</p>
                            <a class="nav-link btn btn-outline-dark" href="{% url 'logout' %}">ログアウト</a>
                        {% else %}
                            <a class="nav-link btn btn-outline-dark" href="{% url 'login' %}">ログイン</a>
                            <a class="nav-link btn btn-outline-dark" href="{% url 'register' %}">サインアップ</a>
                        {% endif %}
                    </li>
            </ul>
    -->
<!-- feed -->
<div class="container">　
    <div class="row infinite-container">
        {% for item in item_list %}
        <div class="col-smb-4 infinite-item" id="card" style="margin-left: auto; margin-right: auto; width: 600px;">
            <div id="card-header">
                <p><span style="vertical-align: middle;"><button type="button" class="btn btn-default btn-sm"
                            style="background: pink;"><img src="../static/images/icons/person.svg"
                                class="rounded-circle account-img" alt="person"></span></button>
                    <span style="vertical-align: middle;">{{ item.created_by }}</span></p>
            </div>
            <div id="card-body">
                {% if item.image %}
                <div id="image">
                    <img src="/{{ item.image.url }}" style="width:100%;height:600px; object-fit:cover;">
                </div>
                {% else %}
                <div id="image">
                    <img src="../media/images/restaurant_posts/if-photo-is-nil.jpg" style="width:100%;height:600px">
                </div>
                {% endif %}
            </div>
            <div id="card-footer">
                <p><span>{{ item.restaurant_memo|default_if_none:"restaurant_memo" }}</span>
                </p>
            </div>
            <!-- 
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細</a>
                                        <a class="btn btn-outline-dark " href="{% url 'update' item.pk %}">編集</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' item.pk %}">削除</a>
                                    </div>
                                </div>
                            </div>
                            -->
        </div>
        {% endfor %}
    </div>
</div>

<div class="row mt-3">
    <div class="col-10 mx-auto">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
        <div class="d-flex justify-content-center" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}