{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- 新規投稿モーダル -->
{{ form.certifications.errors }}
<div class="modal" id="post-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 100%; overflow-y: auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="myform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="post-modal-memo-container">
                        <div id="instant-post-modal-profile-img-container">
                            {% if user.image %}
                            <img id="instant-post-modal-profile-img" class="rounded-circle account-img"
                                src="{{ user.image.url }}">
                            {% else %}
                            <img id="instant-post-modal-profile-img-default" class="rounded-circle account-img"
                                src="{% static 'images/icons/person.svg' %}">
                            {% endif %}
                        </div>
                        <div>
                            {{ form.restaurant_memo|as_crispy_field }}
                        </div>

                    </div>

                    <label>
                        <span class="filelabel-modal" title="ファイルを選択">
                            {% load static %}
                            <img style="width: 40px; height: 40px; border-radius: 5px;"
                                src="{% static '/images/icons/plus-btn.png' %}" alt="plus-btn">
                        </span>
                        {{ imageform.image }}
                    </label>

                    <div id="removable-div">
                        <div id="preview-images-container-modal">
                            <span id="image_preview_span"></span>
                        </div>
                    </div>


                    <div id="input-title" style="overflow: hidden;">
                        {{ form.restaurant_name|as_crispy_field }}
                    </div>

                    <div class="modal-footer">
                        <input type="submit" name="test1" value="アップする" class="post-button-on-modal">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- 絞り込みモーダル 
<div class="top-page-container" id="top-page-container">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true"
        data-backdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">絞り込み条件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="filter" method="get">
                    <div class="modal-body">
                        {{ filter.form|crispy }}
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                    <button type="submit" class="btn btn-outline-dark" form="filter">絞り込む</button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div id="homepage-container">　
    <!-- フィルタ（非表示）-->
    <div class="filters" style="display: none;">

        <!-- 
        <a class=" btn btn-outline-dark" style="visibility:hidden" href="/">絞り込みを解除</a>
        <button class="btn-vegetarian">ベジタリアン</button>
        <button class="btn-vegan">ヴィーガン</button>
        -->

        <!-- キャンペーンボタン -->
        <a id="campaign-banner" href="{% url 'campaign' %}">野菜自炊チャレンジ開催中！</a>

        <!-- modal修正完了したら　display:none を消す -->
        <a class="btn-sort rounded-circle account-img" data-toggle="modal" data-target="#myModal"
            style="display: none;"><img src="{% static '/images/icons/filter-no-circle.png' %}"></a>

    </div>

    <!-- Instant Post  -->
    {% if user.is_authenticated %}

    <div class="instant-post-container">
        {% if user.image %}
        <div id="instant-post-profile-frame"><img id="instant-post-profile-img" class="rounded-circle account-img"
                src="{{ user.image.url }}"></div>
        {% else %}
        <div id="instant-post-profile-frame"><img id="instant-post-profile-img-default"
                class="rounded-circle account-img" src="{% static 'images/icons/person.svg' %}"></div>
        {% endif %}


        <a id="post-modal-call-btn" data-toggle="modal" data-target="#post-modal">
            <span style="white-space: nowrap;">今日なに食べた？</span>
        </a>

    </div>

    {% else %}

    <div class="instant-post-container">
        {% if user.image %}
        <div id="instant-post-profile-frame"><img id="instant-post-profile-img" class="rounded-circle account-img"
                src="{{ user.image.url }}"></div>
        {% else %}
        <div id="instant-post-profile-frame"><img id="instant-post-profile-img-default"
                class="rounded-circle account-img" src="{% static 'images/icons/person.svg' %}"></div>
        {% endif %}


        <a id="post-modal-call-btn" href="{% url 'login' %}">
            <span style="white-space: nowrap;">今日なに食べた？</span>
        </a>

    </div>


    {% endif %}
    <!-- feed -->
    <div id="card-infinite-container" class="infinite-container">
        {% for key, item in image_dict.items %}
        <div class="infinite-item" id="card">

            <div id="card-body-{{ forloop.counter }}">
                {% for photo in item.image %}
                {% if forloop.first %}
                {% if photo.is_video %}
                <a href="{% url 'card_detail' item.post.id %}"><video id="card-video" autoplay muted playsinline>
                        <source src="{{ photo.photo.image.url }}" type="video/mp4"></a>
                </video>
                {% else %}
                <div class="mySlides-{{ forloop.parentloop.counter }}">
                    <a href="{% url 'card_detail' item.post.id %}"><img id="card-img"
                            src="{{ photo.photo.image.url }}"></a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div id="card-footer">
                <a href="{% url 'card_detail' item.post.id %}" id="first-p-link">
                    <p id="first-p">{{ item.post.restaurant_name }}</p>
                </a>

                <div id="card-info">
                    <a href="{% url 'user_portfolio' item.post.created_by.id %}" id="first-p-link">
                        <span id="card-info-profile-img-container">
                            {% if item.post.created_by.image %}
                            <img src="{{ item.post.created_by.image.url }}" id="card-footer-person-img"
                                class="rounded-circle account-img" alt="person-img">
                            {% else %}
                            <img src="{% static 'images/icons/person.svg' %}" id="card-footer-person-img-default"
                                class="rounded-circle account-img" alt="person-img">
                            {% endif %}
                        </span>

                        <span id="card-info-username">{{ item.post.created_by }}</span>
                    </a>

                    {% if user.is_authenticated %}
                    <div class="like-btn-container">
                        <form name="name_form" action="/ajax-like/" method="POST" class='ajax-like-form-cls'>
                            <!-- <form name="name_form" action="/test_ajax_app/" method="POST"> -->
                            {% csrf_token %}
                            <input type="hidden" name="post-id" value="{{ item.post.id }}">
                            {% if item.already_liked %}
                            <button type="submit" class='like-btn on'>
                                <i class="fas fa-heart LikesIcon-fa-heart heart"></i>
                            </button>
                            {% else %}
                            <button type="submit" class='like-btn'>
                                <i class="far fa-heart LikesIcon-fa-heart"></i>
                            </button>
                            {% endif %}
                        </form>
                    </div>
                    {% else %}
                    <div class="like-btn-container">
                        <a id="like-btn-guest" href="{% url 'login' %}"><i
                                class="far fa-heart LikesIcon-fa-heart"></i></a>
                    </div>
                    {% endif %}
                    <p class="like-count" id="id-number-of-like-{{ item.post.id }}">{{ item.number_of_likes }}</p>


                </div>

            </div>

        </div>
        {% endfor %}
    </div>
</div>

<div class="row mt-3" style="width: 100%;">
    <div class="col-10 mx-auto">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
        <div class="d-flex justify-content-center" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}