{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{{ form.certifications.errors }}
<div class="create-card-container">

    <div class="create-main">

        <form method="post" id="myform" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-content-container">
                {% if user.image %}
                <img id="creator-profile-img" class="rounded-circle account-img" src="{{ user.image.url }}">
                {% else %}
                <img id="creator-profile-img" class="rounded-circle account-img"
                    src="{% static 'images/icons/person.svg' %}">
                {% endif %}

                <div id="input-content">
                    {{ form.restaurant_memo|as_crispy_field }}
                </div>
            </div>
            <label>
                <span class="filelabel" title="ファイルを選択">
                    {% load static %}
                    <img src="{% static '/images/icons/photo-plus.png' %}" alt="photo">
                </span>
                {{ imageform.image }}
            </label>

            <div id="removable-div">
                <span id="image_preview_span"></span>
                <div id="close-btn-container">
                    <img id="close-button" src="{% static '/images/icons/close-button.png' %}" alt="close-button">
                </div>
            </div>

            <hr style="margin: 20px">
            <div id="input-title">
                {{ form.restaurant_name|as_crispy_field }}
            </div>

            <input id="post-btn" type="submit" name="test1" value="投稿する" class="post-button-on-modal">
            <a id="save-draft-btn" href="{% url 'index' %}">戻る</a>

        </form>

    </div>

</div>
{% endblock %}