<div class="row">
    <div class="col-5 col-sm-3">
        <p>レストラン名</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.restaurant_name|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>レストランのここがいい！</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.sample_2|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>住所（区）</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.ward_address|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>テイクアウト可能か</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.bool_takeout|yesno:"はい,いいえ" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>価格帯</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.price_range|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
