{% extends "./_base.html" %}
{% load static %}


{% block content %}
    {% load crispy_forms_tags %}
    <div class="top-page-container" style="margin: 0px 400px">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">絞り込み条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">絞り込む</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-outline-dark" style="visibility:hidden" href="/">絞り込みを解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">絞り込み</a>
                </div>
            </div>
        </div>
        <!--
            <ul class="navbar-nav float-right mt-3">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <p>Welcome {{ user.username }}</p>
                            <a class="nav-link btn btn-outline-dark" href="{% url 'logout' %}">ログアウト</a>
                        {% else %}
                            <a class="nav-link btn btn-outline-dark" href="{% url 'login' %}">ログイン</a>
                            <a class="nav-link btn btn-outline-dark" href="{% url 'register' %}">サインアップ</a>
                        {% endif %}
                    </li>
            </ul>
        -->
        <div class="row infinite-container">
            {% for item in item_list %}
                <div class="col-5 infinite-item" style="margin: 10px">
                    <ul class="list-group">
                        <li class="list-group-item">
                            {# item_detail_contents.html を参考に必要な項目を追加してください #}
                            {% if item.image %}
                                <div class ="image">
                                    <img src="/{{ item.image.url }}" style="width:100%; height:300px; object-fit:cover;">
                                </div>
                            {% else %}
                                <div class ="image">
                                    <img src="/images/1280x1024-dark-gray-solid-color-background.jpg" style="width:100%;height:300px">
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-5 col-sm-5">
                                    <p>レストラン名</p>
                                </div>
                                <div class="col-7 col-sm-7">
                                    <p>{{ item.restaurant_name|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-5">
                                    <p>レストランのここがいい！</p>
                                </div>
                                <div class="col-7 col-sm-7">
                                    <p>{{ item.sample_2|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>住所</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.ward_address|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細</a>
                                        <a class="btn btn-outline-dark " href="{% url 'update' item.pk %}">編集</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' item.pk %}">削除</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}
                <div class="d-flex justify-content-center" style="display:none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    	
    <script src="/static/app/js/jquery-2.2.4.min.js"></script>
    <script src="/static/app/js/jquery.waypoints.min.js"></script>
    <script src="/static/app/js/infinite.min.js"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {},
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {
            $('.spinner-border').show();
        },
        onAfterPageLoad: function () {
            $('.spinner-border').hide();
        }
    });

    </script>

{% endblock %}