{% extends "./_base.html" %}
{% load static %}


{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
        <!--
            <ul class="navbar-nav float-right mt-3">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <p>Welcome {{ user.username }}</p>
                            <a class="nav-link btn btn-outline-dark" href="{% url 'logout' %}">ログアウト</a>
                        {% else %}
                            <a class="nav-link btn btn-outline-dark" href="{% url 'login' %}">ログイン</a>
                            <a class="nav-link btn btn-outline-dark" href="{% url 'register' %}">サインアップ</a>
                        {% endif %}
                    </li>
            </ul>
        -->

        <!-- feed -->
        <div class="row">
            <div class="row infinite-cotainer">
                {% for item in item_list %}
                <div class="col-lg-9 infinite-item" style="margin: 10px">
                    <div class="card mb-4 shadow-sm">
                            {# item_detail_contents.html を参考に必要な項目を追加してください #}
                            {% if item.image %}
                                <div class ="image">
                                    <img src="/{{ item.image.url }}" style="width:100%; height:600px; object-fit:cover;">
                                </div>
                            {% else %}
                                <div class ="image">
                                    <img src="/images/1280x1024-dark-gray-solid-color-background.jpg" style="width:100%;height:600px">
                                </div>
                            {% endif %}
                            
                            <div class="card-body">
                                    <p>レストラン名</p>
                                    <p>{{ item.restaurant_name|default_if_none:"未入力" }}</p>
                            
                                    <p>作成者</p>
                                    <p>{{ item.created_by.get_full_name }}</p>
                            
                                    <p>作成時間</p>
                                    <p>{{ item.created_at|date:"Y/m/d" }}</p>
                                
                                    <p>レストランのここがいい！</p>
                                    <p>{{ item.sample_2|default_if_none:"未入力" }}</p>
                            </div>

                            <!--
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>住所</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.ward_address|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細</a>
                                        <a class="btn btn-outline-dark " href="{% url 'update' item.pk %}">編集</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' item.pk %}">削除</a>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
        <div class="d-flex justify-content-center" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        </div>

        <script src="/static/js/jquery-2.2.4.min.js"></script>
        <script src="/path/to/lib/jquery.waypoints.min.js"></script>
        <script src="/path/to/shortcuts/infinite.min.js"></script>
        <script>
        var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {
        
        },
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {
        $('.spinner-border').show();
        },
        onAfterPageLoad: function () {
        $('.spinner-border').hide();
        }
        
        });

        </script>

        <!--
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1 mb-3">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div> 
        -->
    </div>

{% endblock %}