* {
    margin:0; padding:0;
}

header {
    height: 100px;
    width: 100%;
    padding: 10px 0;
    /*position: fixed;*/
    top: 0;
    /*background-color: #6d7fcc;*/
    background-image: url("vegitables.jpg");
    background-position: center bottom;
    background-size: cover;
    display: flex;
  }

header .headline{
    line-height: 100px;
    font-size: 30px;
    color:#white;

}

li {
    margin: 0;
    display: flex;
    text-align: right;
}

a{
    margin: 0 0 0 15px;
}
